@media screen and (min-width: 0px) {    /* This is the MOBILE version */

    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        top: 0px;
        left: 0px;
    }

    .hamburger-button {     /* style the button! */
        float: right;
        cursor: pointer;
        margin-top: -55px;
        margin-right: 15px;
        padding: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 47rem;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
    }
      
    .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    }
    
    .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    }
    
    .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
    padding: 0 16px;
    }
    
    .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    }
    
    input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    label {
    margin-bottom: 10px;
    display: block;
    }
    
    span.price {
    float: right;
    color: grey;
    }


    body {
        margin: 0;
        padding: 0; /*ZG - removed default padding*/
    }

    main{
        margin: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
          
    }

    form{
        width: 30%;
        border-radius: 5px;
    }

    #container {     /*ZG - creates grid state for container*/
        height: 100%;   /*BJ - Removed vh on height as page was scrolling down, not needed*/
        display: grid;
        place-items: center;
        margin-top: 100px;
    }

    .slide { /*ZG - styles for each slide of the slider (use as default if the images don't load)*/
        height: 90%;
        width: 60vw;
        margin: auto 10px;
        background-color: rgb(212, 212, 212);
        border-radius: 5px;
        box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    #cash{
        background: rgb(40, 101, 215);
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }

    #calculateChange{
        background: rgb(40, 101, 215);
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }

    #checkout-submit{
        background: rgb(40, 101, 215);
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 350px;
        margin: auto;
        text-align: center;
        font-family: arial;
        min-width: 350px;
    }

    .card img {
    max-height: 45%;
    min-height: 45%;
    max-width: 100%;
    min-width: 100%;
    }
    
    .price {
    color: rgb(15, 15, 15);
    font-size: 22px;
    }
    
    .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }
    
    .card button:hover {
    opacity: 0.7;
    }

    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        width: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h1{             /*"Dreads & Deals Auto"*/
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        color: azure;
        text-shadow: 4px 3px 3px black;
        width: 100%;
        margin-top: 5px;
        margin-right: 30px;
        font-size: 36px;
        text-align: center;
        
    }

    .topnav {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
            
    .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .hamburger {
    position: absolute;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .hamburger a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }

    #myLinks {
    display: none;
    height: 6rem;
    background-color: rgb(40, 101, 215);
    z-index: 10;
    position: absolute;
    margin-top: 4rem;
    margin-left: 3rem;
    width: 6rem;
    overflow: hidden;
    }
    
    .active {
    background-color: #04AA6D;
    color: white;
    }

    #logo {
        height: 90px;
        width: 120px;
        cursor: pointer;
    }

    #cart{
        display: none;
    }

    .hamburger-menu{
        display: flex;
        flex-direction: row;
        background-color: blueviolet;
        width: 100%;
    }

    .hamburger-button {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    }


    p{
    text-align: center;
    margin-top: 0;
    }

    .footer {             
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
        height: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-icons{
        align-items: center;
        width: 35rem;
    }
}

    
@media screen and (min-width: 768px) {      /* This is the DESKTOP version */

    body {
        margin: 0;
    }
    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        top: 0px;
        left: 0px;
    }

    #logo {
        height: 90px;
        width: 120px;
        cursor: pointer;
    }   

    .hamburger-button {     
        float: right;
        cursor: pointer;
        margin-top: -55px;
        margin-right: 15px;
        padding: 5px;
        display: none;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }

    .nav-links {            /* Style these links so they end up side by side */
        display: block;
    }

    .footer {              
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
    }

    .copyright {       
        display: flex;
        justify-content: center;
    }

    
  }
