@media only screen and (min-width: 0px) {  /* This is the MOBILE version */

    body {
        margin: 0;
        padding: 0; /*ZG - removed default padding*/
    }

    #container {     /*ZG - creates grid state for container*/
        height: 100vh;
        display: grid;
        place-items: center;
    }

    #slider-container { /*ZG*/
        height: 70vh;
        width: 85vw;
        max-width: 1400px;
        position: relative;
        overflow: hidden;
        padding: 20px;

    }

    #slider-container .btn {  /*ZG*/
        position: absolute;
        top: calc(50% - 30px);
        height: 15px;
        width: 15px;
        border-left: 8px solid #696969;
        border-top: 8px solid #696969;
        cursor: pointer;
    }

    #slider-container .btn:hover {  /*ZG - hover state transformation */
        transform: scale(1.2);
    }

    #slider-container .btn.inactive {  /*ZG - inactive state style */
        border-color: #282828;
    }

    #slider-container .btn:first-of-type { /*ZG - sets the first btn transformations */
        transform: rotate(-45deg);
        left: 10px;
    }

    #slider-container .btn:last-of-type { /*ZG - sets the last btn transformations */
        transform: rotate(135deg);
        right: 10px;
    }

    #slider-container #slider { /*ZG - slider display styles */
        display: flex;
        width: 1000%;
        height: 100%;
        transition: all .5s;
    }

    #slider-container #slider .slide { /*ZG - styles for each slide of the slider (use as default if the images don't load)*/
        height: 90%;
        width: 60vw;
        margin: auto 10px;
        background-color: rgb(212, 212, 212);
        border-radius: 5px;
        box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    /* .one {
        margin-left: 20px;
    } */

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 350px;
        margin: auto;
        text-align: center;
        font-family: arial;
        min-width: 350px;
      }

      .card img {
        max-height: 45%;
        min-height: 45%;
        max-width: 100%;
        min-width: 100%;
      }
      
      .price {
        color: rgb(15, 15, 15);
        font-size: 22px;
      }
      
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
        opacity: 0.7;
      }

    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        width: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .brand-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    a {
        text-decoration: none;
        width: 80%;
        display: flex;
    }

    h1{             /*"Dreads & Deals Auto"*/
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        color: azure;
        text-shadow: 4px 3px 3px black;
        width: 100%;
        margin-top: 5px;
    }

    .logo {
        height: 100px;
        width: 165px;
        
        cursor: pointer;
    }

    .hamburger-button {     /* style the button! */
        /* float: right; */
        cursor: pointer;
        /* margin-top: -55px; */
        margin-right: 15px;
        padding: 5px;
    }

    .nav-links {            /* style the links! change the display if you need to, so you can see them! */
        float: right;
        margin-top: -40px;
        margin-right: 20px;
        display: block;
    }

    ul {
        list-style: none;
    }

    .car-img{
        width: 200px;
        border: 3px black solid;
        border-radius: 18px;
        background-color:rgb(213, 230, 246);
    }

    img{
        border-radius: 15px;
    }

    .img-container1{
        display: none;
    }

    li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {               /* style the footer! */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
    }

    .copyright {
        display: flex;
        justify-content: center;
    }

    .heart {
        font-size: 65pt;
        color: red;
        margin-top: 400px;
        margin-left: 15%;
    }

    .dollarSign {
        font-size: 65pt;
        color: green;
        margin-top: -190px;
        margin-left: 80%;
    }

}

    
@media only screen and (min-width: 768px) {      /* This is the DESKTOP version */

    body {
        margin: 0;
    }
    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        top: 0px;
        left: 0px;
    }

    .logo {
        height: 80px;
        width: 150px;
        margin-top: 5px;
        margin-left: 5px;
        cursor: pointer;
    }

    .hamburger-button {     /* style the button! */
        float: right;
        cursor: pointer;
        margin-top: -55px;
        margin-right: 15px;
        padding: 5px;
        display: none;
    }

    .nav-links {            /* Style these links so they end up side by side */
        display: block;
    }

    .footer {               /* style the footer color! */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
    }

    .copyright {        /* style the footer text! */
        display: flex;
        justify-content: center;
    }

    .heart {
        font-size: 65pt;
        color: red;
        margin-top: 400px;
        margin-left: 15%;
    }

    .dollarSign {
        font-size: 65pt;
        color: green;
        margin-top: -190px;
        margin-left: 80%;
    }

    a {
        text-decoration: none;
    }

} 

/* @media only screen and (min-width: 768px) { /*Deactivates Slider at 768px
    #container {
        display: none;
    }
}  */


@media only screen and (min-width: 1100px) { /*ZG - Slider Media Query*/
    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }
}

@media only screen and (max-width: 1100px) {  /*ZG - Slider Media Query*/
    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }
}

@media only screen and (max-width: 900px) { /*ZG - Slider Media Query*/
    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }
}

 
@media only screen and (max-width: 550px) { /*ZG - Slider Media Query*/
    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }
}
