@media screen and (min-width: 0px) {    /* This is the MOBILE version */

    body {
        margin: 0;
    }
    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        width: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .brand-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    a {
        text-decoration: none;
        width: 80%;
        display: flex;
    }

    h1{             /*"Dreads & Deals Auto"*/
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        color: azure;
        text-shadow: 4px 3px 3px black;
        width: 100%;
        margin-top: 5px;
    }

    .logo {
        height: 100px;
        width: 165px;
        
        cursor: pointer;
    }

    .hamburger-button {     /* style the button! */
        /* float: right; */
        cursor: pointer;
        /* margin-top: -55px; */
        margin-right: 15px;
        padding: 5px;
    }

    .nav-links {            /* style the links! change the display if you need to, so you can see them! */
        float: right;
        margin-top: -40px;
        margin-right: 20px;
        display: block;
    }

    ul {
        list-style: none;
    }

    .car-img{
        width: 200px;
        border: 3px black solid;
        border-radius: 18px;
        background-color:rgb(213, 230, 246);
    }

    img{
        border-radius: 15px;
    }

    .img-container1{

    }

    li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {               /* style the footer! */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
    }

    .copyright {
        display: flex;
        justify-content: center;
    }

    .heart {
        font-size: 65pt;
        color: red;
        margin-top: 400px;
        margin-left: 15%;
    }

    .dollarSign {
        font-size: 65pt;
        color: green;
        margin-top: -190px;
        margin-left: 80%;
    }

}

    
@media screen and (min-width: 768px) {      /* This is the DESKTOP version */

    body {
        margin: 0;
    }
    .header {           /* style the header! */
        background: rgb(150, 199, 255);
        top: 0px;
        left: 0px;
    }

    .logo {
        height: 80px;
        width: 150px;
        margin-top: 5px;
        margin-left: 5px;
        cursor: pointer;
    }

    .hamburger-button {     /* style the button! */
        float: right;
        cursor: pointer;
        margin-top: -55px;
        margin-right: 15px;
        padding: 5px;
        display: none;
    }

    .nav-links {            /* Style these links so they end up side by side */
        display: block;
    }

    .footer {               /* style the footer color! */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background:rgb(150, 199, 255);
    }

    .copyright {        /* style the footer text! */
        display: flex;
        justify-content: center;
    }

    .heart {
        font-size: 65pt;
        color: red;
        margin-top: 400px;
        margin-left: 15%;
    }

    .dollarSign {
        font-size: 65pt;
        color: green;
        margin-top: -190px;
        margin-left: 80%;
    }

    a {
        text-decoration: none;
    }

}   